html {
	font-size: 16px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 40px;
}
.page-header {
    background: #4a040c;
    background: linear-gradient(to top right, #4a040c, #741420);
    padding: 30px 0px;
}
.page-header a {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
}
.page-header a:hover {
	background: rgba(255,255,255,0.2);
}
.page-header .project-name {
    font-weight: 700;
}
.page-header .project-tagline {
    
}
.feature-block {
    
}
.feature-block .feature-desc {
    
}
